
  <div class="col-lg-4">
    <div class="thumbnail">
      <%= image_tag(image) %>
      <%#= image_tag("profits512.png") %>
      </p>
      <div class="bold-text container col-lg-12 col-lg-offset-2">
        <%= (content)%>
      </div>
    </div>
  </div>
