<div class="container">
  <%= render partial: 'home/description_header_component', locals: {
      image: "profits128.png",
      content: "Statistics and price advisor",
  } %>
  <%= render partial: 'home/description_header_component', locals: {
      image: "townhouse128.png",
      content: "All flats here",
  } %>
  <%= render partial: 'home/description_header_component', locals: {
      image: "stats128.png",
      content: "Details which you want",
  } %>
</div>