<div class="jumbotron">
  <div class="container">
    <div class="col-md-2 col-md-offset-5">
      <!--<h1 id="jumbotronHeader">Bytik.sk</h1>-->
    </div>
    <%= render 'not_logged_content' %>
  </div>
</div>