<!--<div>-->
<div class="container white-text">
<h1 >Bytik.sk</h1>
</div>
<div id="home_invite_content">
  <div class="white-text container col-lg-12 col-md-4 col-lg-offset-0 col-md-offset-4">
    <h1>Let us find your home</h1>
  </div>

  <div class=" container col-lg-12 col-md-4 col-lg-offset-0 col-md-offset-4">
    <h4>Try quick search without login</h4>
  </div>

  <div class="white-text container col-lg-12 col-lg-offset-0">
    <%= link_to 'Quick search', new_user_session_path, :class => "btn btn-default btn-transparent"  %>
  </div>

  <div class=" container col-lg-12 col-md-6 col-lg-offset-0 col-md-offset-2">
    <h4>Or login for experience full power of searching websites from one place</h4>
  </div>

  <!--<div class="container col-lg-12 col-md-6 col-lg-offset-0 col-md-offset-2">-->

    <!--&lt;!&ndash;<div class="col-lg-1">&ndash;&gt;-->
      <!--&lt;!&ndash;<h4 class="inline-block">or</h4>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-1">&ndash;&gt;-->
      <!--&lt;!&ndash;<%= link_to 'Sign up', new_user_session_path, :class => "btn btn-primary btn-transparent" %>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
  <div class="container col-lg-2">
    <%= link_to 'Login', new_user_session_path, :class => "btn btn-default btn-transparent" %>
  </div>
</div>
<!--</div>-->
<!--<%# if user_signed_in? %>-->
<!--<#%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete, :class => "btn btn-success" %>-->
<!--<%# else %>-->
<!--<#%= link_to 'Login', new_user_session_path, :class => "btn btn-success" %>-->
<!--<%# end %>-->
