<p id="notice"><%= notice %></p>
<%= csrf_meta_tags %>

<%= react_component('Modal', {scraps: @scraps_a}, {class: ""}) %>

<p class="row">
<div class="col-lg-offset-2">
  <h4>Your Searches</h4>
</div>
</p>

<%= react_component('Accordion', {scraps: @scraps_a}, {class: "container"}) %>

<br>