// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

//@import "bootstrap/theme";

//=========BOOTSTRAP OVERRIDEN START=========
.btn-primary {
  background-color: cornflowerblue;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  background-color:transparent;
}
.img-thumbnail{background-color:transparent}
//.thumbnail > img {
//  //width: 230px;
//  //height: 130px;
//}

.btn-default {
  &.btn-inverse {
    @include button-variant($btn-default-bg, $btn-default-color, $btn-default-bg);
    &:hover {
      @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
    }
  }
  &.btn-transparent {
    @include button-variant($btn-default-bg, transparent, $btn-default-bg);
    &:hover {
      @include button-variant($btn-default-bg, darken($btn-default-bg, 25%), $btn-default-bg);
    }
  }
}


.btn-primary {
  &.btn-inverse {
    @include button-variant($btn-primary-bg, $btn-primary-color, $btn-primary-bg);
    &:hover {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
  }
  &.btn-transparent {
    @include button-variant($btn-primary-bg, transparent, $btn-primary-bg);
    &:hover {
      @include button-variant($btn-primary-bg, darken($btn-primary-bg, 25%), $btn-primary-bg);
    }
  }
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
//=========BOOTSTRAP OVERRIDEN END=========
body {
  margin: 0px !important;
  padding: 0px !important;
  background-color: white;
}

* {
  font-family: "sans serif";
}

.white-text{
  color:white;
}

.bold-text{
  font-weight: bold;
}

.bigger-text{
  font-size: 16px;
}

.navbar {
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#jumbotronHeader {
  color: cornflowerblue;
}

.under_navigation_empty_space {
  height: 50px;
}

.jumbotron {
  background-image: url("bytik_logo.jpg");
  background-size: no-repeat;
  display: inline;
  height: 72vh;
  width: 100%;
  float: left;
  margin-right:-304px;
}

//.login-info {
//  margin-
//}

#home_invite_content {
  //padding-top: 100px;
  padding-bottom: 100px;
}

#home_footer {
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: cornflowerblue;
}

#to_bottom_footer {
  position: absolute;
  bottom: 0;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: cornflowerblue;
}

#page_descriptions {
  padding: 30px;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: cornflowerblue;
}

#page_descriptions2 {
  padding: 30px;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: white;
}

.about_app_picture {
  height: 30px;
  width: 30px;
}

#sticky_commentaries{
  position:fixed;
}


* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
