
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
//@import "bootstrap/theme";


//body {
//  padding-top: 60px;
//}

//form{
//  div{
//    @extend .control-group;
//  }
//}
#jumbotronHeader{
  color:white;
}
.jumbotron {
  background-image: url("http://benhuckerbydesign.co.uk/uploads/images/projectdetail/1250546478flat1.jpg");
  background-size: no-repeat;}

.navbar-nav {
  width: 100%;
  //background-color: white;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

#bytik-form {
  label{
    @extend .label;
    @extend .label-default;
  }
  //form {
    input {
      @extend .form-control;
    }
    div {
      label {
        //@extend .label;
        @extend .label-default;
      }
    //}
  }
  //form label{
  //  //@extend .label;
  //  @extend .label-default;
  //}
}
//.btn-success{
//  // Button Base
//  color:black;
//  background-color: blue;
//  cursor: pointer;
//  display: inline-block;
//}
