Language:

en EN |
<a href="#">Contact us</a> |
<a href="#">Legal notice</a> |
<a href="#">Terms of service</a> |
<a href="#">Data privacy</a> |

<div class="nav navbar-nav navbar-right">
  © 2016 - Patrik Ragan. All rights reserved.
</div>